#navtt{
    background-color: antiquewhite !important;
}
#h233{
    text-align: center;
}
.img{
height: 500px !important;
}    

#ggg{
    border-bottom:2px solid black ;
    padding-bottom: 20px;
}
#ddd{
    padding: 0px 60px 0px 60px;
}